/* This is a multi-line
comment. Add your CSS code
from Unit 1 - 5 below  */

nav{
	background-color: #808080;
}
.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }
.nav{
	background-color: #ffbf00;
	color:white;
	padding:35px;
	display:block;
	float:left;
}
.nav:hover{
	background-color: #ee5f3c;
}
h1{
	color:teal;
}
h2{
	color:#FFD700;
}
.board {
	height: 50%;
	width:50%;
	display:inline-block;
}
.card {
	height:200px;
	width: 150px;
	background-color:#ffff00;
	border:1px solid #020202;
	border-radius:10px;
	float:left;
	margin: 8%;
}
.name{
	color:#ff0000;	
}
body{
	text-align:center;
}
footer{
	background-color: #808080;
}


